.palette {
	height: 100vh;
}

.palette-colors {
	height: 90%;
}

.slider {
	width: 340px;
	margin: 0 10px;
	display: inline-block;
}

.rc-slider-track {
	background: transparent;
}

.rc-slider-track {
	height: 8px;
}

.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus {
	background-color: green;
	outline: none;
	border: 2px solid green;
	box-shadow: none;
}
